<class name="org.example.wso2.CustomMediator" />
<log level="custom">
 <property name="++ custom property JWT_SUB ++" expression="$ctx:JWT_SUB"/>
 <property name="++ custom property JWT_AUD ++" expression="$ctx:JWT_AUD"/>
 
</log>
